//Variaveis

$cor-padrao:darken(#c24e4b, 10); // DEIXANDO A COR PADRÃO
$cor-branca: #fff;
$cor-preta: black;

$ponto-de-quebra: 980px;
$mq-mobile: "(max-width: 980px)";// c

//FUNÇÃO DEIXAR MAIS CLARA
//$cor-padrao:lighten(#c24e4b,10%);

// FUNÇÃO DEIXAR MAIS ESCURA 
//$cor-padrao:darken(#c24e4b, 30%);
